@media screen and (max-width: 768px){

    /* HEADER GENERICO */
    .header{
        grid-template-columns: 4fr 1fr;
        width: 100%;
    }

    .header__title a{
        display: grid;
        align-items: center;
    }

    .subtitle{
        padding-bottom: 0px;
        margin-left: 40px;
        margin-top: 0px;
        margin-right: 20px;
    }

    .rutinas__main-subtitle{
        padding-bottom: 0px;
        gap: 10px;
        margin-top: 20px;
        margin-left: 40px;
    }

    .ejercicios-subtitle{
        padding-bottom: 0px;
        gap: 10px;
        margin-top: 20px;
        margin-left: 40px;
    }

    /* INDEX */
    .index__main-section1{
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 1fr;
        height: 100%;
        width: 100%;

        & div{
            height: 100%;
        }
    }

    .index__main-section2{
        grid-template-rows: 1fr 4fr;
        width: 100%;
        height: 100%;
        padding-bottom: 0px;
    }

    .carousel{
        width: 80%;
    }

    .flechitas768px{
        height: 64px;
        width: 64px;
    }

    .image-link{
        height: 100%;
    }

    .card_index_title{
        font-size: 30px;
    }

    .index__main-section3{
        grid-template-rows: 1fr 5fr;
        width: 100%;
        border-bottom: none;
    }

    .ejercicios-index{
        display: grid;
        padding: 0 100px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);

        & article{
            width: 250px;
            height: 250px;

            & a video{
                width: 150px;
                height: 150px;
            }
        }
    }

    /* RUTINAS.HTML */

    .rutinas__main{
        grid-template-rows: 1fr 15fr;
        padding-bottom: 20px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .rutinas__main-section{
        grid-template-columns: repeat(2, 1fr);
    }

    .imagen-rutina{
        width: 120%;
        height: 140%;
    }

    /* CONTACTO.HTML */

    .maincontact{
        grid-template-rows: 1fr 7fr;
    }

    .contactform{
        grid-template-columns: 1fr;
        grid-template-rows: 6fr 1fr;
        padding: 0px;
        gap: none;
    }

    .formulario{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }

    .submit-clean{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }

    /* FOOTER GENERICO */
    .footer{
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media screen and (max-width: 425px){

    /* HEADER GENERICO */
    .header__title a{
        
        & h1{
        display: none;
        }

        & img{
            display: inline-block;
        }
    }

    .header{
        height: 100%;
    }

    .header__nav nav a{
        display: none;
    }

    .header__nav{
        display: none;
        height: 80px;
    }

    .header__nav-mobile{
        display: grid;
        align-self: center;
        justify-self: end;
        height: 80px;
    }

    /* SUBTITLE */

    /* INDEX */

    .index__main-section2{
        display: grid;
        grid-template-rows: 1fr 2.5fr;
        gap: 10px;
    }

    .carousel__smaller{
        margin: 0px 100px;
    }

    .sportimages{
        height: 100%;
    }

    .carousel-control-prev{
        height: 228.66px;
        width: 20%;
    }

    .carousel-control-next{
        height: 228.66px;
        width: 20%;
    }

    .index__main-section3{
        padding: 0;
        grid-template-rows: 1fr 4.5fr;
    }

    .ejercicios-index{
        padding: 0 30px ;

        & article{
            height: 90%;
            width: 90%;

            & a h3{
                font-size: small;
            }
        }
    }

    /* RUTINAS.HTML */
    .rutinas__main{
        grid-template-rows: 1fr 15fr;
    }

    .rutinas__main-subtitle{
        padding: 10px 0px 0px 0px;
        font-size: 20px;
        height: 100%;
        margin: 0px;
        gap: 0px;
    }

    .rutinas__main-section{
        grid-template-columns: 1fr;
    }


    /* EJERCICIOS.HTML */
    .ejercicios__main{
        padding: 0px 40px 20px 40px;

        &-section{
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, 1fr);
            padding: 0px;
        }
    }

    .ejercicios-subtitle{
        padding: 10px 0px 0px 10px;
        font-size: 20px;
        height: 100%;
        margin: 0px;
        gap: 0px;

        & h2{
            margin: 0px;
        }

        & p{
            margin: 0px;
        }
    }

    .choosezone{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        padding: 0px;
    }

    /* CONTACTO.HTML */
    .maincontact{
        grid-template-rows: 1fr 4fr;
        padding: 0px 40px 20px 40px;
    }

    .contacto-subtitle{
        padding: 10px 0px 0px 0px;
        font-size: 20px;
        height: 250px;
        margin: 0px;
        gap: 0px;
    }

    .contactform {
        margin: 0px;
        padding: 0px;
    }

    .formdivs{
        width: 90%;
    }

    .textarea{
        width: 90%;
    }

    .checkboxes{
        width: 90%;
    }

    .clean-send{
        width: 90%;
    }

    /* FOOTER GENERICO */
    .footer{
        padding-right: 30px;
        padding-left: 30px;
        justify-items: center;
    }

    .footer__sn{
        margin: 0px;
        padding: 0px;
    }

    .footer__sn a p{
        display: none;
    }
}