.tienda{
    @extend .index;

    &__main{
        @include background;
        display: grid;
        grid-area: main;
        grid-template-rows: 1fr 10fr;

        &-section{
            display: grid;
            grid-template-rows: repeat(3, 1fr);
            row-gap: 20px;
            align-items: center;
            justify-items: center;
            padding: 20px 40px 40px 40px;

            & article{
                display: grid;
                grid-template-columns: 1fr 2fr;
                align-items: center;
                justify-items: center;
                border: $principal-border;
                border-radius: 15px;
                height: 100%;


                & h3{
                    margin: 0;
                    color: $principal-color;
                    font-size: x-large;
                }
            }

            &-clothes{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                column-gap: 20px;
                width: 100%;
                height: 100%;

                & article {
                    
                    & p{
                    margin-bottom: 8px;
                    }

                    & h4{
                    margin-top: 8px;
                    margin-bottom: 16px;
                    }

                    & div{
                        height: 100%;
                    }
                }
            }
            &-accessories{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                column-gap: 20px;
                width: 100%;
                height: 100%;

                & article {
                    
                    & p{
                    margin-bottom: 8px;
                    }

                    & h4{
                    margin-top: 8px;
                    margin-bottom: 16px;
                    }

                    & div{
                        height: 100%;
                    }
                }
            }
            &-elements{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                column-gap: 20px;
                width: 100%;
                height: 100%;

                & article {
                    grid-template-columns: 1.5fr 2fr;
                    
                    & p{
                    margin-bottom: 8px;
                    }

                    & h4{
                    margin-top: 8px;
                    margin-bottom: 16px;
                    }

                    & div{
                        height: 100%;
                    }
                }
            }
        }

        &-subtitle{
            @extend .subtitle;

            & button{
                display: grid;
                position: fixed;
                align-self: center;
                justify-self: end;
                margin-right: 100px;
                @include background;
                border: transparent;
                border-radius: 20px;
                /* height: 32px;
                width: 32px; */

                & img{
                    align-self: center;
                    justify-self: center;
                }

                & p{
                    color: $principal-color;
                    position: absolute;
                    left: 90%;
                    top: -20%;
                }
            }
        }
    }
}

.articulos_en_venta{

    &:hover{
        &:hover{
            animation: articulos-hover .1s linear 0s 1 normal forwards;
    
            @keyframes articulos-hover {
                0% {
                    box-shadow: 0 0 0 0 $principal-color;
                    transform: scale(1) translateX(0) translateY(0);
                }
            
                100% {
                    box-shadow: 12px 12px 20px -12px $principal-color;
                    transform: scale(1) translateX(-5px) translateY(-5px);
                }
            }
        }
    }
}

.clothes-section{
    display: grid;
    grid-template-rows: 1fr 3fr;
    align-items: center;
    justify-items: center;
/*     height: 100%;
 */
    & button{
        background-color: black;
        border-radius: 15px;
        color: $principal-color;
        font-size: small;
        align-self: center;
        width: 100px;
        height: 50px;
        padding: 5px;

        &:hover{
            transition: 3ms;
            color: salmon;
        }
    }
}
.accessories-section{
    @extend.clothes-section;
}
.elements-section{
    @extend.clothes-section;
}

.ropaEnVenta{
    display: none;
    gap: 5px;
    /* visibility: hidden; */
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;

    & div{
        display: grid;
        height: 100%;
        width: 100%;
        padding: 5px;

        & button{
            justify-self: right;
            align-self: end;
        }
    }
}

.ropaEnVentaActiv{
    display: grid;
    gap: 5px;
    /* visibility: hidden; */
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;

    & div{
        display: grid;
        height: 100%;
        width: 100%;
        padding: 5px;

        & button{
            justify-self: right;
            align-self: end;
        }
    }
}

.noMorePortada{
    display: none;
}

.accesoriosEnVenta{
    @extend.ropaEnVenta;
}

.accesoriosEnVentaActiv{
    display: grid;
    gap: 5px;
    /* visibility: hidden; */
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;

    & div{
        display: grid;
        height: 100%;
        width: 100%;
        padding: 5px;

        & button{
            justify-self: right;
            align-self: end;
        }
    }
}

.elementosEnVenta{
    @extend.ropaEnVenta;
}

.elementosEnVentaActiv{
    display: grid;
    gap: 5px;
    /* visibility: hidden; */
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;

    & div{
        display: grid;
        height: 100%;
        width: 100%;
        padding: 5px;

        & button{
            justify-self: right;
            align-self: end;
        }
    }
}

.verMas{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
    width: 100%;
    gap: 10px;

    & h3{
        align-self: center;
        justify-self: right;
    }
    

}

.card-content{
    padding: 5px;
}

.cartSection{
    display: none;
    @include background;
    border: $principal-border;
    border-radius: 30px;
    color: $principal-color;
    position: fixed;
    height: 100vh;
    width: 33%;
    left: 33%;
    top: 40%;

    &Div{
        display: grid;
        height: 70px;
        &img{
            margin: 5px 0 0 5px;
            position: absolute;
            left: 0;
        }
        & h3{
            margin-top: 20px;
            position: absolute;
            left: 40%;
        }
        & button{
            background-color: transparent;
            border: transparent;
            margin-top: 15px;
            position: absolute;
            left: 90%;
        }
    }
}

.cartSectionActive{
    display: grid;
    @include background;
    border: $principal-border;
    border-radius: 30px;
    color: $principal-color;
    position: fixed;
    height: 90vh;
    overflow: auto;
    width: 33%;
    left: 33%;
    top: 5%;

    &Div{
        display: grid;
        height: 70px;
        &img{
            margin: 5px 0 0 5px;
            position: absolute;
            left: 0;
        }
        & h3{
            margin-top: 20px;
            position: absolute;
            left: 40%;
        }
        & button{
            background-color: transparent;
            border: transparent;
            margin-top: 15px;
            position: absolute;
            left: 90%;
        }
    }
}

.cartContainer{
    height: 100%;
}

.productAddedToCart{
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
    justify-content: space-between;

    & img{
        align-self: center;
    }

    & p{
        margin: 0;
    }

    & button{
        display: grid;
        color: salmon;
        height: 20px;
        width: 20px;
        background-color: salmon;
        border-radius: 40px;
        align-items: center;
        justify-items: center;
    }
}