
@import'variables';
@import'index';
@import'rutinas';
@import'ejercicios';
@import'contactos';
@import'tienda';
@import'header';
@import'footer';
@import'mobiles';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.subtitle{
    display: grid;
    color: $principal-color;
    height: 100px;
    align-items: center;
    margin-left: 50px;
    margin-top: 10px;
}